<!-- A visualizer for looping trees of hardware space vs compute time using D3-->
{% extends "base.html" %}
{% block head %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}
{# Titles the page to something recognizable #}
{% block title %} LoopTree {% endblock %}
{% block body %}
<div class="cell medium-8 grid-x">
    <h1 class="cell small-12">Mapping of Type: {{ mapping_type }}</h1>
    <br/>
    <div id="looptree" class="cell small-12">

    </div>
</div>
{% endblock %}

{% block epilogue %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript">
/**
 * Converts a mapping to a hierarchy structure. All arrays are converted so that
 * each subsequent element in the array is a child of the previous element.
 * If there is branching, all branches are siblings and are children of the
 * element they branched off of.
 *
 * @param {Object} mapping  The JSON containing the mapping in the default YAML
 *                          format. Only contains the portion corresponding to
 *                          children of the root we're appending to.
 * @param {Object} root     The root we're currently building off of.
 */
function mapping_to_hierarchy(mapping, root) {
    // If the mapping segment is an array, make them all children of each other.
    if (mapping instanceof Array) {
        // Makes the dependency tree.
        for (ref of mapping) {
            // Initializes child with no dependencies.
            let child = {
                "dependencies": []
            };
            /* Copies all keys in the reference if it's not leading to other
             * nodes */
             for (key in ref) {
                // If the key is not branches, copy it over.
                if (key !== "branches") {
                    child[key] = ref[key];
                // If it's leading to other nodes, recurse.
                } else {
                    // Goes through every branch and copies.
                    for (branch of ref[key]) {
                        mapping_to_hierarchy(branch, child);
                    }
                }
            }
            // Adds the child to the root.
            root["dependencies"].push(child);

            // Sets root as the child as this is a sequential process.
            root = child;
        }
    }
}

/** 
* Starts generating the looptree visualization graphic once all the dependencies
* have been loaded.*/
window.onload = function() {
// Interprets the map_tree Python dictionary as a JSON object.
let map_tree = {{ map_tree|tojson }};
console.log(map_tree);
// Converts the map tree into a D3 parseable hierarchy structure.
let hierarchy = {
    "dependencies": [],
    "type": {{ mapping_type|tojson }},
};
mapping_to_hierarchy(map_tree, hierarchy);

// Fetches the container in which we want to display the visualization.
let display = document.getElementById("looptree");

// Puts display into display.
display.innerText = JSON.stringify(hierarchy, null, 2);
console.log(hierarchy);
}
</script>
{% endblock %}