<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Foundation Frontend Framework-->
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='master.css') }}"
    />
    <title>Mapping</title>
</head>
<body>
    <div class="grid-x mapping">
        <div class="cell medium-2"></div>
        <div class="cell medium-8 grid-x">
            <h1 class="cell medium-6">Mapping 1</h1>
            <h1 class="cell medium-6">Mapping 2</h1>
            {# goes through all the lines in diff #}
            {% for line in diff.split('\n') %}
                {# replaces leading with tabs #}
                {% set line = line.replace('  ', '\t') %}
                {# splits the line #}
                {% set line1, line2 = line.split('|') %}
                <div class="cell medium-6">
                {% if Fore.RED in line %}
                    {% for char in line1 %}
                        {% if char == Fore.RED %}
                            <p class="diff">
                        {% elif char == Fore.RESET %}
                            </p>
                        {% else %}
                            {{ char }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="cell medium-6">
                    {% for char in line2 %}
                        {% if char == Fore.RED %}
                            <span class="diff">
                        {% elif char == Fore.RESET %}
                            </span>
                        {% else %}
                            {{ char }}
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                    <div class="cell medium-6">{{ line1 }}</div>
                    <div class="cell medium-6">{{ line2 }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="cell medium-2"></div>
    </div>
</body>
</html>