/* marks difference between the two mappings */
span.diff {
    color:red;
    margin:0;
    padding:0;
}

/* mapping format */
.mapping {
    padding:0;
}
/* removes bottom margin */
.mapping p {
    margin:0;
}