/* marks difference between the two mappings */
span.diff {
    /* color stuff */
    color:red;

    /* whitespace stuff */
    margin:0;
    padding:0;
}

/* mapping format */
.mapping_line {
    /* font stuff */
    font-family: monospace;
    /* keeps span from having space between them */
    font-size: 0;

    /* whitespace stuff */
    margin:0;
    padding:0;
}
.mapping_line > span {
    /* makes font not 0 for actual content */
    font-size: large;
}

/* takes indentation from the python string */
div.pre {
    white-space:pre;
    margin:0;
    padding:0;
}

div.pre > p {
    margin: 0;
    padding: 0;
}