/* marks difference between the two mappings */
span.diff {
    color:red;
    margin:0;
    padding:0;
}

/* mapping format */
.mapping_line {
    padding:0;
    font-family: monospace;
    font-size: large;
}
/* removes bottom margin */
.mapping p {
    margin:0;
}

/* takes indentation from the python string */
span.pre {
    white-space:pre;
}